html, body { height: 100%; }


#uploader {
    height: 100%;
}


.photolist {
    list-style: none;
    background-color: black;
    overflow: hidden;
}

.photolist li {
    margin: 5px 15px;
    padding: 0;
    width: 256px;
    height: 256px;
    float: left;
}

.photolist li img {
    display: block;
    margin: auto;
}

.photo {
    position: relative;
}

.photo-download {
    position: absolute;
    top: 0;
    display: none;
}

.photo:hover .photo-download {
    display: inline-block;
}

.photo-preview-img {
    max-width: 100%;
}

body .modal-dialog {
    width: 80%;
}
