{% extends 'layout.html' %}


{% block content %}
  <div id="uploader"></div>
{% endblock content %}


{% block scripts %}
<script src="{{ url_for('static', filename='upload.js') }}"></script>
<script>
  (function() {
    'use strict';

    var photo_list = {{ photo_list|tojson }};

    app.photoCollection = new app.PhotoCollection(photo_list);

    app.uploader = new app.Uploader({
      el: $('#uploader'),
      uploadUrl: {{ url_for('.save', album_id=album.id)|tojson }}
    });

    app.uploader.on('uploadFinished', function(photo) {
        app.photoCollection.add(new app.Photo(photo.toJSON()));
    });

    app.photoList = new app.PhotoList({
        collection: app.photoCollection
    });

    $('#uploader').append(app.photoList.el);

  })();
</script>
{% endblock scripts %}
